<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    @RenderSection("scripts", required: false)
    @RenderSection("Styles", required: false)

    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/inputmask")

    <script src="~/Scripts/Comum.Config.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            ConfigurarEntrada();
        });
    </script>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("SAC+E", "Index", "Aluno", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Cadastrar Alunos", "Index", "Aluno")</li>
                    <li>@Html.ActionLink("Cadastrar Cidades", "Index", "Cidade")</li>
                    <li>@Html.ActionLink("Alunos por Cidade", "Index", "Cidade")</li>
                    <li>@Html.ActionLink("Relatórios", "Index", "Relatorio")</li>
                    <li>@Html.ActionLink("Gráficos", "Index", "Grafico")</li>
                    <li>@Html.ActionLink("Logout", "Logout", "Login")</li>

                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @if (ViewBag.MensagensErro != null)
        {
            <div class="alert alert-danger" role="alert">

                <ul>
                    @if (ViewBag.MensagensErro is string)
                    {
                        <li>@MvcHtmlString.Create(ViewBag.MensagensErro)</li>
                    }
                    else if (ViewBag.MensagensErro is List<string>)
                    {
                        foreach (var mensagemErro in (List<string>)ViewBag.MensagensErro)
                        {
                            <li>@MvcHtmlString.Create(mensagemErro)</li>
                        }
                    }
                    else
                    {
                        throw new Exception("As mensagems de erros passadas devem ser uma lista de string ou string");
                    }
                </ul>
            </div>
        }

        @if (ViewBag.MensagensSucesso != null)
        {
            <div class="alert alert-success" role="alert">
                <ul>
                    @if (ViewBag.MensagensSucesso is string)
                    {
                        <li>@MvcHtmlString.Create(ViewBag.MensagensSucesso)</li>
                    }
                    else if (ViewBag.MensagensSucesso is List<string>)
                    {
                        foreach (var mensagemSucesso in (List<string>)ViewBag.MensagensSucesso)
                        {
                            <li>@MvcHtmlString.Create(mensagemSucesso)</li>
                        }
                    }
                    else
                    {
                        throw new Exception("As mensagems de erros passadas devem ser uma lista de string ou string");
                    }
                </ul>
            </div>
        }

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year</p>
        </footer>
    </div>



</body>
</html>
